<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <title>Simple markers</title>
    <style>
        html, body {
            height: 100%;
            margin: 0;
            padding: 0;
        }

        #map {
            height: 100%;
        }
    </style>
</head>
<body>
<div id="map"></div>
<script>
    function initMap()
    {
        var directionsDisplay = new google.maps.DirectionsRenderer;
        var directionsService = new google.maps.DirectionsService;
        var restaurantLocation = new Array();
        restaurantLocation[0] = {$restaurantLocation['lat']};
        restaurantLocation[1] = {$restaurantLocation['lng']};
        var restaurantLatLng = {lat: restaurantLocation[0], lng: restaurantLocation[1]};

        var customerLocation = new Array();
        customerLocation[0] = {$customerLocation['lat']};
        customerLocation[1] = {$customerLocation['lng']};
        var customerLatLng = {lat: customerLocation[0], lng: customerLocation[1]};

        var driverLocation = new Array();
        driverLocation[0] = {$driverLocation['lat']};
        driverLocation[1] = {$driverLocation['lng']};
        var driverLatLng = {lat: driverLocation[0], lng: driverLocation[1]};

        var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 14,
            center: driverLatLng
        });
        directionsDisplay.setMap(map);
        setMarker(restaurantLatLng, map, "饭店", "__PUBLIC__/map/ic_restaurant_location.png");
        setMarker(customerLatLng, map, "客人", "__PUBLIC__/map/ic_customer_location.png");
        setMarker(driverLatLng, map, "I am Here", "__PUBLIC__/map/ic_driver_location.png");

        calculateAndDisplayRoute(map, directionsService, directionsDisplay,
                driverLocation, restaurantLocation, "#303F9F", 0.5, 6);
        calculateAndDisplayRoute(map, directionsService, directionsDisplay,
                restaurantLocation, customerLocation, "#009688", 1.0, 4);


    }

    /**
     * 设置地图标记
     * @param latLng
     * @param map
     * @param title
     */
    function setMarker(latLng, map, title, image)
    {
        var infowindow = new google.maps.InfoWindow({
            content: title
        });
        var marker = new google.maps.Marker({
            position: latLng,
            map: map,
            animation: google.maps.Animation.DROP,
            icon: image
        });
        infowindow.open(map, marker);
        marker.addListener('click', function ()
        {
            infowindow.open(map, marker);
        });
    }

    /**
     * 获取路线数据
     * @param map
     * @param directionsService
     * @param directionsDisplay
     * @param origin
     * @param destination
     * @param color
     * @param opacity
     * @param weight
     */
    function calculateAndDisplayRoute(map, directionsService, directionsDisplay,
                                      origin, destination, color, opacity, weight)
    {
        directionsService.route({
            origin: {lat: origin[0], lng: origin[1]},
            destination: {lat: destination[0], lng: destination[1]},
            // Note that Javascript allows us to access the constant
            // using square brackets and a string value as its
            // "property."
            travelMode: google.maps.TravelMode.DRIVING
        }, function (response, status)
        {
            if (status == google.maps.DirectionsStatus.OK)
            {
                setPolyLine(response, color, opacity, weight, map);
            }
            else
            {
                window.alert('Directions request failed due to ' + status);
            }
        });
    }

    /**
     * 设置路线
     * @param response
     * @param color
     * @param opacity
     * @param weight
     * @param map
     */
    function setPolyLine(response, color, opacity, weight, map)
    {
        var latlngs = response.routes[0].overview_path;
        var path = new google.maps.Polyline({
            path: latlngs,
            geodesic: true,
            strokeColor: color,
            strokeOpacity: opacity,
            strokeWeight: weight
        });

        path.setMap(map);
    }
</script>
<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAFhhAGX_9cW87jrdz06uDo96iweddwBl4&callback=initMap"></script>
</body>
</html>